@page
@model WebApp.Pages.Service.PurchaseTypeListModel
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Event</th>
            <th>Event Type</th>
            <th>Price</th>
            <th>Add Cart</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.List != null && Model.List.Any())
        {
            foreach (var item in Model.List)
            {
                <tr>
                    <td>@item.EventName</td>
                    <td>@item.SizeName</td>
                    <td>@item.Price</td>
                    <td>
                        <a class="btn btn-sm btn-outline-primary" asp-page="/Service/Purchase" asp-route-Id="@item.PackageId">
                            @* <i class="bi bi-pencil-square"></i> *@
                            <i class="bi bi-basket"></i>
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No event type available.</td>
            </tr>
        }
    </tbody>
</table>
