﻿@using System.Security.Claims
@{
    string role = User.Identity.IsAuthenticated ? User.FindFirst(ClaimTypes.Role)?.Value : null;
}
@inject CartService cartService

@{
    var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
    var cartCount = userId != null ? cartService.GetCartCountByUserId(userId) : 0;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pages/Shared/Layout.cshtml.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid ">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mx-auto header-bgnav" id="navbarNavDropdown">
                    <ul class="navbar-nav d-flex justify-content-evenly w-100">
                        <li class="nav-item">
                            <a class="nav-link active text-black" aria-current="page" asp-page="/Index">Homepage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-black" aria-current="page" asp-page="/Account/Dashboard">Dashboard</a>
                        </li>
                        @if (role == "3")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-black" asp-page="/Service/OrderTypeList">Packages</a>
                            </li>
                            <li class="nav-item position-relative">
                                <a class="nav-link text-black" asp-page="/Service/CartList">
                                    <i class="bi bi-basket" style="font-size: 1.5rem;"></i>
                                    @if (cartCount > 0)
                                    {
                                        <span id="navbar-cart-count"
                                              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            @cartCount
                                            <span class="visually-hidden">cart items</span>
                                        </span>
                                    }
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-black" asp-page="/Service/OrderTypeList">Previous Orders</a>
                            </li>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-black">@User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black"asp-page="/Account/Login" asp-page-handler="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-black" asp-area="" asp-page="/Account/Login">Login</a>
                            </li>
                        }
                        @if (role == "1" || role == "2")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Options
                                </a>
                                <ul class="dropdown-menu">
                                    @if(role == "1")
                                    {
                                        <li><a class="dropdown-item" asp-page="/Account/ExecutiveRegistration">Add Executive</a></li>
                                    }
                                    <li><a class="dropdown-item" asp-page="/EventInfo/EventList">Events</a></li>
                                    <li><a class="dropdown-item" asp-page="/EventInfo/SizeList">Event Types</a></li>
                                    <li><a class="dropdown-item" asp-page="/EventInfo/PackageList">Packages</a></li>
                                    <li><a class="dropdown-item" asp-page="/EventInfo/AllOrderList">All Orders</a></li>
                                    <li><a class="dropdown-item" asp-page="/EventInfo/MaxorderLimit" asp-route-Id="1">Set Order Limit</a></li>
                                </ul>
                            </li>
						}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg_color">
        <div class="container">
            &copy; 2024 - Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>