@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap');
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.header-bgnav {
    max-width: 75%;
    background-color: aqua;
    border: 3px solid white;
}
  .mx_width{
    font-family: 'Playwrite RO', sans-serif;
  }
  .bg_color{
    background-color: white;
  }
 .shad{
  text-shadow: 2px 2px burlywood;
  background-color: aliceblue;
  border : 2px solid wheat;
  border-radius: 10px;
 }
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.animate-bounce {
    animation: bounce 0.4s ease;
}
.img-fixed {
    height: 200px;
    object-fit: cover;
    width: 100%;
}